# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Local data & indexes
.env
bom_data/
faiss_index_bom/
chroma_db/
